{% extends "_main.jinja" %}

{% block title %} ERROR {% endblock %}

{% block main %}
    <h1 class="internal error"> Ups, something went wrong, contact IT department at</h1>
    <h2>kaluzafilip33@gmail.com </h2>
{% endblock %}