{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}

{% block main %}
<blockquote class="blockquote">
        <p class="mb-0">
            Vitaj šašo
        </p>
        <footer class=blockquote-footer> Someone famous (ja)</footer>
    </blockquote>
{% endblock %}

