body {
    padding: 0 20%;
}

header {
    text-align: center;
    color:green;
}

.nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

footer {
    text-align: center;
}

/* flash*/

.danger {
    background: red;
    font-size: 30px;
    text-align: center;
}

.success {
    background: greenyellow;
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.error-login-form {
    background: red;
    text-align: center;
    width: 100%;
    font-size: 30px;
}