<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/main.css') }}" >
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/bootstrap.min.css') }}" >

{# for JS #}
<script src={{url_for("static", filename="js/jquery-3.5.1.min.js")}}></script>
<script src={{url_for("static", filename="js/bootstrap.bundle.min.js")}}></script>
<script src={{url_for("static", filename="js/main.js")}}></script>
