{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}

{% block main %}
Hi, I am Filip Kaluža and I am testing finja teplates. It looks very readable adn powerfull tool.
{% endblock %}