{% extends "_main.jinja" %}

{% block title %} Login {% endblock %}

{% block main %}

<form action="{{ url_for("login_user") }}" method="post">
    {{ form.csrf_token }} {# pre bezpečnosť, proti cross-site request forgery #}
    <p>
        {{ form.username.label }}
        {{ form.username() }}
    </p>
    <p>
       {{ form.password.label }}
        {{ form.password() }}
    </p>
<input type="Submit" value="login">
</form>

{% endblock %}